/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

.form {
  max-width: 400px;
  margin: 30px auto;
  display: block;
}

.btn {
  width: 150px;
  margin: 30px auto;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
  text-align: center;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.info-item h3,
.info-item p {
  margin: 0;
  font-size: 12px;
}

.is-hidden {
  display: none;
}

.loader {
  margin: 20px auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
